# Ignore class and build files
*.class
bin/
out/

# Ignore IntelliJ IDEA project files
.idea/
*.iml

# VS Code settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Log files
*.log

# Temporary files
*.tmp
*.swp

# Ignore compiled JARs
*.jar

# Ignore key files generated during encryption
*_key.txt
